{% extends 'base.html' %}

{% block title %}
<title>Crear Perro</title>
{% endblock title %}

{% block texto_header %}
<h1>
    Creacion de Perro
</h1>
{% endblock texto_header %}

{% block despues_del_header %}
<p>
    <a href={% url 'listado_perros' %}>Volver</a>
</p>
<p>
    <form action={% url 'crear_perro' %} method="post">
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        <button>Crear</button>
    </form>
</p>
{% endblock despues_del_header %}