{% extends 'base.html' %}

{% block title %}
Editar Perfil
{% endblock title %}

{% block texto_header %}
<h1>
    Editando perfil de {{request.user.username}}
</h1>
{% endblock texto_header %}

{% block contenido %}
<p>
    <form action={% url 'editar_perfil' %} method="post" enctype='multipart/form-data'>
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        <button>Editar</button>
    </form>
    <p>
        <a href={% url 'cambiar_password' %}>Cambiar password</a>
    </p>
</p>
{% endblock contenido %}