<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculando IMC</title>
</head>
<body>
    <h1>Calculadora IMC</h1>
    <form action="" method="get">
        <label for="peso">Peso</label>
        <input type="text" name="peso">
        <label for="altura">Altura</label>
        <input type="text" name="altura">
        <button type="submit">Calcular</button>
    </form>
</body>
</html>