{% extends 'base.html' %}

{% block title %}
<title>Listado de Gatos</title>
{% endblock title %}

{% block texto_header %}
<h1>
    Listado de Gatos
</h1>
{% endblock texto_header %}

{% block despues_del_header %}
<p>
    <a href={% url 'crear_gato' %}>Crear Gato</a>
</p>

<p>
    {% if object_list %}
    <ul>
        {% for gato in object_list %}
        <li>
            {{gato}}
            <a href={% url 'mostrar_gato' gato.id %}>Mostrar</a>
            <a href={% url 'editar_gato' gato.id %}>Editar</a>
            <a href={% url 'eliminar_gato' gato.id %}>Eliminar</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    No se encontraron datos.
    {% endif %}
</p>
{% endblock despues_del_header %}